
@{
    ViewData["Title"] = "ClientsAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IEnumerable<Olympia.Data.Domain.OlympiaUser>
}

<h1 class="text-center">ClientsAll</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Username</th>
            <th scope="col">Weight</th>
            <th scope="col">Height</th>
            <th scope="col">Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {//TODO: Make userViewModel
            <tr>
                <th scope="row">@Model.ToList().IndexOf(client)</th>
                <td>@client.FullName</td>
                <td>@client.UserName</td>
                <td>@client.Weight </td>
                <td>@client.Height ?? "-"</td>
                <td>@client.Gender.ToString()</td>
            </tr>
        }
    </tbody>
</table>