@{
    this.ViewData["Title"] = "Home Page";
    @model Olympia.Data.Models.ViewModels.Home.IndexModel
    var articles = Model.Articles.ToList();
    var items = Model.Items.ToList();
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4 text-danger">Welcome to Olympia!</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4 text-danger">Welcome to Olympia, @(this.User.Identity.Name)</h1>
    </div>
}
<hr class="bg-danger" />

<h2 class="mb-3 mt-3 text-center">Here are three of our top read articles!</h2>

<div>
    <div class="container">
        <div class="row">
            @if (articles.Any())
            {
                @foreach (var article in articles)
                {
                    <div class="card d-flex justify-content-between col-md-4" style="background-color:lightblue">
                        <img class="card-img" src="@article.ImgUrl" alt="Bologna">
                        <div class="card-body">
                            <h4 class="card-title">@article.Title</h4>
                            <p class="card-text">@string.Join("", article.Content.Take(75))...</p>
                            <a asp-area="AreaBlog"
                               asp-controller="Blog"
                               asp-action="ArticleDetails"
                               asp-route-articleId="@article.Id" class="btn btn-danger">Read Me</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="views">
                                @article.CreatedOn
                            </div>
                            <div class="stats">
                                <i class="far fa-eye"></i> @article.TimesRead
                            </div>

                        </div>
                    </div>
                }
            }
            else
            {
                <h2 class="text-danger">No articles</h2>
            }

        </div>

        <h2 class="mb-3 mt-3 text-center">And now here are some of our most popular items from the shop!</h2>

        <div class="container">
            <div class="row">
                @if (Model.Items.Any())
                {
                    @foreach (var item in Model.Items)
                    {
                        <div class="col-md-3 card mr-5 mb-4" style="background-color:lightblue">
                            <i><h5 class=" text-center">@item.Name</h5></i>
                            <img class="card-img" src="@item.ImgUrl" alt="Loading..." />
                            <div class="d-flex justify-content-center">
                                <strong><p class="text-center">@item.Supplier.Name</p></strong>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p><strong>@item.Price $</strong></p>
                            </div>
                            <div class="d-flex justify-content-center row">
                                <a class="btn btn-danger col-lg-5 mb-2"
                                   asp-area="AreaShop"
                                   asp-controller="Shop"
                                   asp-action="ItemDetails"
                                   asp-route-itemId="@item.Id">Details</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h2 class="text-danger">No items</h2>
                }
            </div>
        </div>
    </div>
</div>

