@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ItemsAll";
    @model Olympia.Data.Models.ViewModels.Shop.ShopViewModel
}

<div class="row">
    <h1 class="text-lg-center col-sm-10">All Items</h1>

    <div class="col-sm-2">
        <button class="btn btn-danger">Add Item</button>
    </div>

</div>
<button class="btn btn-success fas fa-shopping-cart">Cart</button>
<div class="container">
    <div class="row">
        @if (Model.Items.Any())
        {
            @foreach (var item in Model.Items)
            {
                <div class="col-md-3 card mr-5 mb-4">
                    <i><h5 class="card-header text-center">@item.Name</h5></i>
                    <img class="card-img" src="@item.ImgUrl" alt="Loading..." />
                    <div class="d-flex justify-content-center">
                        <strong><p class="text-center">@item.Supplier.Name</p></strong>
                    </div>
                    <div class="d-flex justify-content-center row">
                        <a class="btn btn-danger col-lg-5 mb-2 mr-2"
                           asp-area="AreaShop"
                           asp-controller="Shop"
                           asp-action="AddToCart"
                           asp-route-itemId="@item.Id">Add To Cart</a>
                        <a class="btn btn-danger col-lg-5 mb-2"
                           asp-area="AreaShop"
                           asp-controller="Shop"
                           asp-action="ItemDetails"
                           asp-route-itemId="@item.Id">Details</a>
                    </div>
                </div>
            }
        }
        else
        {
            <h3 class="mt-5">No items in the shop</h3>
        }
    </div>
</div>
