@{
    ViewData["Title"] = "ChooseWorkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Olympia.Data.Models.BindingModels.Client.WorkoutBindingModel
}

<div class="container">
    <h4 class="text-center">
        Select Difficulty
    </h4>
    <div class="row">
        <form method="post"
              class="form-group d-flex justify-content-between">
            <br />
            <div class="mr-3 col-xl-6 sr-only-focusable text-center">
                <h5>Difficulty</h5>
                <select asp-for="@Model.WorkoutDifficulty" class="form-control" asp-items="@Html.GetEnumSelectList<Olympia.Data.Domain.Enums.WorkoutDifficulty>()"></select>
                <span asp-validation-for="@Model.WorkoutDifficulty" class="text-danger"></span>
            </div>
            <div class="mr-3 col-xl-6 sr-only-focusable text-center">
                <h5>Intermediate</h5>
                <select asp-for="@Model.WorkoutType" class="form-control" asp-items="@Html.GetEnumSelectList<Olympia.Data.Domain.Enums.WorkoutType>()"></select>
                <span asp-validation-for="@Model.WorkoutType" class="text-danger"></span>
            </div>
            <div class="mr-3 col-xl-6 sr-only-focusable  text-center">
                <h5>Duration</h5>
                <select asp-for="@Model.Duration" class="form-control" asp-items="@Html.GetEnumSelectList<Olympia.Data.Domain.Enums.WeekWorkoutDuration>()"></select>
                <span asp-validation-for="@Model.Duration" class="text-danger"></span>
            </div>
            <button class="btn btn-primary" r asp-area="AreaTrainer"
                    asp-controller="Trainer"
                    asp-action="FileterWorkouts">
                Fileter Workouts
            </button>
        </form>
    </div>
</div>




