
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ClientDetails";
    @model Olympia.Data.Domain.OlympiaUser
}

<hr class="bg-danger" />

<div class="row">
    <div class="col-lg-3 form-group mr-5 ml-5">
        <div class="mt-4 text-danger form-control-plaintext"><strong>Full Name - @Model.FullName</strong></div>
        <div class="mt-4 text-danger form-control-plaintext"><strong>Age - @Model.Age</strong></div>
        <div class="mt-4 text-danger form-control-plaintext"><strong>Gender - @Model.Gender</strong></div>
        <div class="mt-4 text-danger form-control-plaintext"><strong>Weight - @Model.Weight</strong></div>
        <div class="mt-4 text-danger form-control-plaintext"><strong>Height - @Model.Height</strong></div>
        <div class="mt-4 text-danger form-control-plaintext"><strong>Phone number - @(string.IsNullOrEmpty(Model.PhoneNumber) ? "" : Model.PhoneNumber)</strong></div>

        <a class="btn btn-primary mt-5"
                asp-area="AreaTrainer"
                asp-controller="Trainer"
                asp-action="CreateFitnessPlan"
                asp-route-username="@Model.UserName">
            Create Fitness Plan
        </a>

    </div>
    <div>
        <div class="card card-trainer ml-5">
            <img src="@Model.ProfilePicturImgUrl" alt="John" style="width:100%">
            <h3>@Model.FullName</h3>
            <p class="title">Client</p>
        </div>
    </div>
</div>
