
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ClientDetails";
    @model Olympia.Data.Domain.OlympiaUser
}

<h1 class="text-md-center text-danger">@Model.UserName</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-3 form-group">
            <div class="mt-4 text-danger form-control-plaintext"><strong>Full Name - @Model.FullName</strong></div>
            <div class="mt-4 text-danger form-control-plaintext"><strong>Age - @Model.Age</strong></div>
            <div class="mt-4 text-danger form-control-plaintext"><strong>Gender - @Model.Gender</strong></div>
            <div class="mt-4 text-danger form-control-plaintext"<strong>>Weight - @Model.Weight</strong></div>
            <div class="mt-4 text-danger form-control-plaintext"><strong>Height - @Model.Height</strong></div>
            <div class="mt-4 text-danger form-control-plaintext"><strong>Phone number - @(string.IsNullOrEmpty(Model.PhoneNumber) ? "" : Model.PhoneNumber)</strong></div>
           
            <div class="d-flex justify-content-between">
                <button class="mt-4 btn btn-primary mr-4"
                        asp-area="AreaTrainer"
                        asp-controller="Trainer"
                        asp-action="CalculateCalories"
                        asp-route-user="@Model">
                    Calculate Calories
                </button>
                <button class="mt-4 btn btn-primary"
                        asp-area="AreaTrainer"
                        asp-controller="Trainer"
                        asp-action="CalculateCalories"
                        asp-route-user="@Model">
                    Create Fitness Plan
                </button>
            </div>
        </div>
    </div>
</div>
