
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ClientDetails";
    @model Olympia.Data.Domain.OlympiaUser
}

<h2 class="text-danger text-center">@Model.FullName</h2>
<hr class="bg-danger" />

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between">
            <div>
                <div class="row">
                    <h3 class="col-md-12 text-danger mb-5">Age: @Model.Age</h3>
                    <h3 class="col-md-12 text-danger mb-5">Gender: @Model.Gender</h3>
                    <h3 class="col-md-12 text-danger mb-5">Weight: @Model.Weight</h3>
                    <h3 class="col-md-12 text-danger mb-5">Height: @Model.Height</h3>
                </div>               
            </div>
            <div class="card card-trainer ml-4">
                <img src="@Model.ProfilePicturImgUrl" alt="Loading..." style="width:100%">
                <h3>@Model.FullName</h3>
                <p class="title">Olympia Trainer</p>
            </div>
        </div>
    </div>
    <div class="row">
        <a asp-area="AreaTrainer"
                asp-controller="Trainer"
                asp-action="CreateFitnessPlan"
                asp-route-username="@Model.UserName"
           class="btn btn-primary col-md-12 mt-5">Create Fitness Plan</a>
    </div>
</div>
