
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Olympia.Data.Models.BindingModels.Client.ClientViewModel
    ViewData["Title"] = "CreateFitnessPlan";
}

<h1 class="text-lg-center">Fitness plan for @Model.FullName</h1>

<form method="post">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.Weight"></label>
        <input disabled type="text" asp-for="@Model.Weight" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Height"></label>
        <input disabled type="text" asp-for="@Model.Height" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Age"></label>
        <input disabled type="email" asp-for="@Model.Age" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Gender"></label>
        <input disabled type="email" asp-for="@Model.Gender" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Calories"></label>
        <input disabled type="email" asp-for="@Model.Calories" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary"
            asp-area="AreaTrainer"
            asp-controller="Trainer"
            asp-action="CalculateCalories"
            asp-route-weight="@Model.Weight"
            asp-route-height="@Model.Height"
            asp-route-age="@Model.Age"
            asp-route-activity="@Model.Activity"
            asp-route-gender="@Model.Gender"
            asp-route-username="@Model.UserName">
        Calculate Calories
    </button>
    <button type="submit" class="btn btn-primary"
            asp-area="AreaTrainer"
            asp-controller="Trainer"
            asp-action="ChooseWorkout"
            asp-route-username="@Model.UserName">
        Choose Workout
    </button>
</form>