
@{
    ViewData["Title"] = "Workouts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IEnumerable<Olympia.Data.Models.ViewModels.Fitness.WorkoutViewModel>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-md-12 card">
            <h3>@item.Name</h3>
            <hr class="w-100" />
            <div class="card-body">
                <img class="card-img-top mb-4" src="@item.ImgUrl" alt="Unavailabe" />
                @foreach (var exerciese in item.Exercises)
                {
                    <h5>@exerciese.Name - @exerciese.Sets Sets</h5>
                    <p>Targeting body part: @exerciese.TargetBodyPart</p>
                }
            </div>
            <p>This workout is for people who are <strong>@item.WorkoutDifficulty</strong></p>
            <h5>@item.WorkoutType</h5>
            <button class="btn btn-primary">
                assign to client
            </button>
        </div>
            
        }

    </div>
</div>

