
@{
    ViewData["Title"] = "ItemsAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Olympia.Data.Models.ViewModels.Shop.ShopViewModel
}

<div class="row">
    <div class="col-md-10"></div>
    <a class="btn btn-danger col-md-2"
       asp-area="AreaShop"
       asp-controller="Shop"
       asp-action="ShoppingCart"
       asp-route-cartId="@Model.ShoppingCart.Id">
        <i class="fas fa-shopping-cart">    Purchase(@Model.ShoppingCart.ShoppingCartItems.Count())</i>
    </a>
</div>

@if (this.ViewData["Errors"] != null)
{
    <h4 class="text-danger">@this.ViewData["Errors"]</h4>
}

<div class="container">
    <div class="row">
        @if (Model.Items.Any())
        {
            @foreach (var item in Model.Items)
            {
                <div class="col-md-3 card mr-5 mb-4">
                    <i><h5 class=" text-center">@item.Name</h5></i>
                    <img class="card-img" src="@item.ImgUrl" alt="Loading..." />
                    <div class="d-flex justify-content-center">
                        <strong><p class="text-center">@item.Supplier.Name</p></strong>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p><strong>@item.Price $</strong></p>
                    </div>
                    <div class="d-flex justify-content-center row">
                        <a class="btn btn-danger col-lg-5 mb-2 mr-2"
                           asp-area="AreaShop"
                           asp-controller="Shop"
                           asp-action="AddToCart"
                           asp-route-itemId="@item.Id">Add To Cart</a>
                        <a class="btn btn-danger col-lg-5 mb-2"
                           asp-area="AreaShop"
                           asp-controller="Shop"
                           asp-action="ItemDetails"
                           asp-route-itemId="@item.Id">Details</a>
                    </div>
                </div>
            }
        }
        else
        {
            <h3 class="mt-5 text-danger">No items in the shop</h3>
        }
    </div>
</div>
