
@{
    ViewData["Title"] = "TrainersAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IEnumerable<Olympia.Data.Domain.OlympiaUser>
}

<h1 class="text-center">Trainers</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Rating</th>
            <th scope="col">Count of trainees</th>
            <th scope="col">Count of articles</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
        <tr>
            <th scope="row">@Model.ToList().IndexOf(client)</th>
            <td>@client.FullName</td>
            <td>@client.Rating</td>
            <td>@client.Clients.Count</td>
            <td>@client.Articles.Count</td>
            <td>@client.Email</td>
        </tr>
        }
    </tbody>
</table>