@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Olympia.Data.Models.ViewModels.BlogPartViewModels.ArticleViewModel
    var popularArticle = Model.Author.Articles.OrderByDescending(x => x.TimesRead);
    var user = this.context.Users.Include(x => x.Articles).SingleOrDefault(x => x.UserName == this.User.Identity.Name);
}

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <h2 class="text-center">@Model.Title</h2>
            <img src="@Model.ImgUrl" class="card-img">
            <p class="mt-4 font-weight-normal" contenteditable>@Model.Content</p>
        </div>
    </div>
    <div class="col-md-3">
        @if ((this.User.IsInRole(GlobalConstants.TrainerRoleName) ||
           this.User.IsInRole(GlobalConstants.AdministratorRoleName)) &&
           user.Articles.Select(x => x.Id).Contains(Model.Id))
        {
            <div>
                <a class="btn btn-danger text-light"
                   data-toggle="modal" data-target="#adminArticleDeleteModal">Delete</a>
                <div class="modal fade" id="adminArticleDeleteModal" tabindex="-1" role="dialog" aria-labelledby="adminItemDeleteLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete article</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure to delete this article?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a type="button" class="btn btn-primary"
                                   asp-area="AreaAdministration"
                                   asp-controller="Administration"
                                   asp-action="DeleteArticle"
                                   asp-route-articleId="@Model.Id">
                                    Confirm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="articleDeleteModal" tabindex="-1" role="dialog" aria-labelledby="articleDeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete article</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure to delete this article?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a type="button" class="btn btn-primary"
                               asp-area="AreaTrainer"
                               asp-controller="Trainer"
                               asp-action="DeleteArticle"
                               asp-route-articleId="@Model.Id">
                                Confirm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="card">
            <h2 class="mb-3 text-center">About Me</h2>
            @if (@Model.Author.ProfilePicturImgUrl != null)
            {
                <img src="@Model.Author.ProfilePicturImgUrl" class="card-img" style="height:70%">
            }
            @if (string.IsNullOrEmpty(@Model.Author.Description))
            {
                <p><i>Missing description...</i></p>
            }
            else
            {
                <p class="mt-3 font-weight-normal">@Model.Author.Description</p>
            }
        </div>
        <div class="card">
            <h3>Popular Posts</h3>
            <hr class="bg-danger w-100" />
            @foreach (var article in popularArticle.Where(article => article.Id != Model.Id))
            {
                <div class="row">
                    <div class="col-md-12">
                        <h5>
                            <a asp-area="AreaBlog"
                               asp-controller="Blog"
                               asp-action="ArticleDetails"
                               asp-route-articleId="@article.Id">@article.Title</a>
                        </h5>
                        <hr class="bg-danger w-100" />
                    </div>
                </div>

            }
        </div>
    </div>
</div>
