@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Olympia.Data.Models.ViewModels.BlogPartViewModels.ArticleViewModel
    var popularArticle = Model.Author.Articles.OrderByDescending(x => x.TimesRead);
}

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2 class="text-center">@Model.Title</h2>
            <img src="@Model.ImgUrl" class="card-img">
            <p class="mt-4">@Model.Content</p>
        </div>
    </div>
    <div class="rightcolumn">
        @if (this.User.IsInRole("Trainer") || this.User.IsInRole("Admin"))
        {
            <div>
                <a class="btn btn-danger"
                   asp-area="Trainer"
                   asp-controller="Trainer"
                   asp-action="DeleteArticle"
                   asp-route-articleId="@Model.Id">Delete</a>
            </div>
        }
        <div class="card">
            <h2>About Me</h2>
            @if (@Model.Author.ProfilePicturImgUrl != null)
            {
                <img src="@Model.Author.ProfilePicturImgUrl" class="card-img" style="height:100px;">
            }
            @if (string.IsNullOrEmpty(@Model.Author.Description))
            {
                <p><i>Missing description...</i></p>
            }
            else
            {
                <p>@Model.Author.Description</p>
            }
        </div>
        <div class="card">
            <h3>Popular Posts</h3>
            @foreach (var article in popularArticle.Where(article => article.Id != Model.Id))
            {
                <h5>
                    <a asp-area="Blog"
                       asp-controller="Blog"
                       asp-action="ArticleDetails"
                       asp-route-articleId="@article.Id">@article.Title</a>
                </h5>
            }
        </div>
    </div>
</div>
