
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "BecomeTrainer";
    @model Olympia.Data.Models.BindingModels.Account.ClientToTrainerBindingModel
}

<h1>Before you become a trainer do you want to make any changes?</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-5">
            <div class="input-group">
                <form enctype="multipart/form-data"
                      asp-antiforgery="true"
                      asp-action="BecomeTrainerAsync"
                      asp-controller="Client"
                      asp-area="AreaClient"
                      method="post"
                      class="form-group">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.FullName"></label>
                        <input type="text" asp-for="@Model.FullName" class="form-control" />
                        <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Email"></label>
                        <input type="email" asp-for="@Model.Email" class="form-control" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Age"></label>
                        <input type="number" asp-for="@Model.Age" class="form-control" />
                        <span asp-validation-for="@Model.Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Weight"></label>
                        <input type="number" asp-for="@Model.Weight" class="form-control" step="0.1"/>
                        <span asp-validation-for="@Model.Weight" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Height"></label>
                        <input type="number" asp-for="@Model.Height" class="form-control" step="0.1" />
                        <span asp-validation-for="@Model.Height" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Description"></label>
                        <textarea asp-for="@Model.Description" class="form-control" rows="10" cols="60">
                   Description...
                </textarea>
                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ProfilePictureUrl"></label>
                        <input type="file" asp-for="@Model.ProfilePictureUrl" class="form-control-file" multiple>
                        <span asp-validation-for="@Model.ProfilePictureUrl" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary form-control">
                        Become Trainer!
                    </button>
                </form>                
            </div>
        </div>
        <div class="col-md-8 col-md-offset-3">
            <div class="row">
                <p class="text-danger col-md-4">
                    <strong>
                        Bare in mind that being a trainer is not easy! You are held responsible for all the work your clients do so be careful! Do your best in order
                        to attract as much clients as possible. You can gather information about them and their wishes in the chat in the home page. If you have any questions
                        you can go to the FAQ page. Enjoy your day!
                    </strong>
                </p>

            </div>
        </div>
    </div>
</div>