
@{
    ViewData["Title"] = "EditWeightHeight";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Olympia.Data.Models.BindingModels.Client.ClientViewModel
}

<h4>Just a quick update...every trainer must know your height and weight so please insert yours here.</h4>

@if(this.ViewData["Errors"] != null)
{
    <h3 class="text-danger">@this.ViewData["Errors"]</h3>
}
<form method="post" 
      class="form-group"
      asp-area="AreaClient"
      asp-controller="Client"
      asp-action="UpdateWeightHeight"
      asp-route-trainerName="@Model.TrainerName">
    <div class="form-group">
        <label asp-for="@Model.Activity"></label>
        <select asp-for="@Model.Activity" class="form-control" asp-items="@Html.GetEnumSelectList<Olympia.Data.Domain.Enums.ActityLevel>()"></select>
        <span asp-validation-for="@Model.Activity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Weight"></label>
        <input type="number" asp-for="@Model.Weight" class="form-control" step="0.1" />
        <span asp-validation-for="@Model.Weight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Height"></label>
        <input type="number" asp-for="@Model.Height" class="form-control" step="0.1" />
        <span asp-validation-for="@Model.Height" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Update" />
</form>

